/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

/* Navbar Styles */
.navbar, .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar {
    background-color: #1f1f1f;
}

.logo-container, .right-icons {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container {
    justify-content: flex-start;
}

.logo {
    height: 60px;
    margin-left: 20px;
}

.search-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-bar input[type="text"], .search-bar button, .login-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.search-bar button, .login-button {
    background-color: #ff4500;
    color: #ffffff;
    cursor: pointer;
}

.search-bar button:hover, .login-button:hover {
    background-color: #e03e00;
}

.right-icons {
    justify-content: flex-end;
}

.login-button {
    margin-right: 20px;
}








